[core]
	excludesfile = /Users/eetay/.gitignore_global
	editor = /usr/local/bin/vim
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/SourceTree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[user]
	name = Eetay Natan
	email = eetay.natan@samanage.com
[push]
	default = simple
[status]
	submoduleSummary = true
[alias]
	su = submodule update
	co = checkout
	ci = commit
  st = status
  brs = for-each-ref --sort=committerdate refs/heads/ --format='%(HEAD) %(color:green)%(committerdate:short)%(color:reset) - %(objectname:short) - %(color:yellow)%(refname:short)%(color:reset))'
